/* 
    Author: Grzegorz Dryja
*/

.timer
{
    background-color: #4ce600;
    width: 600px;
    height: 20px;
    padding: 10px;
    /*position: ;  Was fixed but this cover first one*/
    top: 50px; /* bottom */
    right: 15px;
}

.blink
{
    background-color: #ffee00;
}

.main
{    
    float: left;
    border-right: 1px solid green;
}
.button
{
    width: 50px;
}

